body{
    background-color: #000;

    h1{
        color: aqua;
    } 
}

main{
    background-color: pink;
    .text{
        width: 250px;
        background-color: green;
        p{
            font-size: 20px;
            color: greenyellow;
        }
        h3{
            font-weight: bold;
        }
        span{
            background-color: aliceblue;
        }
    }
}