body{
    margin: 10px 0;
    padding: 0;
    text-align: center;
    background: white;
    width: 40%;
    margin: auto;
}


hr{
    width: 40%;
}


header{         /* definir le haut du corps*/
    line-height: 25px;
}

section{ /* definir les sections*/
    display: flex;
    margin: auto;
}

.plate{
    position: relative;
    right: 15%;
}

.image{    /* taille de l'image*/
    width: 100%;
}



