body{
    width: 80%;
    margin: 10px auto;
}

#contenu{
    background-color: red;
    border: 2px solid black;
}

header,footer{
    height: 80px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding-top: 6px;
}

nav{
    height: 40px;
    background-color: #4a1a2c;
    color: white;
    padding-left: 20px;
}

section{
    border: 20px solid #787746;
    background-color: #e6e2af;
    height: 500px;
    text-align: center;
}

p{
    margin: 0;
}