{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    
    
   {# <p>404</p>  #}

<img width="100%" src="https://i.gifer.com/7iJM.gif" alt="">


{% endblock %}

