{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedController!{% endblock %}

{% block body %}

	<div class="alert alert-danger" role="alert">
		Tu n'as pas le droit d'être la
	</div>
	<img src="https://media.giphy.com/media/bh5UZVQjB9ouQ/giphy.gif" alt="">

{% endblock %}

